h1{
    margin-bottom: 10px;
}
.main{
    padding: 10px;
    width:500px;
    text-align: center;
    background-color:whitesmoke;
    color:black;
     height: 400px;
    margin-left: 570px;
     box-shadow:3px 2px 12px 10px rgba(142, 114, 87, 0.581);
}
form{
padding: 40px;
}
.text{
    font-size: 1.4rem;
    padding: 10px;
}

.email{
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.email input{
    width:300px;
    height: 50px;
    padding: 5px;
    transition: .5s;
   
}

.Password input{
    width:300px;
    height: 40px;
    padding:5px;
   transition: .5s;
}
input:focus{
    
    outline: none;
    background-color: rgb(233, 239, 239);
    width: 85%;
}

.login input{
    width:300px;
    height: 40px;
    margin-top: 20px;
    background-color:rgb(255, 168, 7);
     border-radius: 5px;


}

form a{
    font-size: 18px;
    margin-top: 3opx;
    padding: 10px;

}