table{
    width: 100%;
   
}
table, th, td {
    border: 1px solid;
  }
  th{
    background-color: rgb(103, 103, 10);
    height: 80px;
  }
  td {
    height: 60px;
  }
  img{
    width: 375px;
    height: 300px;
  }